.centered-div {
    width: 500px;
    height: 200px;
    justify-content: space-between;
    margin:0px;
}

.section {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

}
.body {
    background: url("indisches-frame-mit-rosen.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: unset;
}
     .img-fluid {
            max-width: 100%; /* Ensure the images don't exceed the width of their container */
            height: auto; /* Maintain the aspect ratio */
        }
